<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- Azure or Redis -->
    <add key="DataAccess" value="Redis"/>
    <add key="AzureAccountName" value="" />
    <add key="AzureAccountKey" value="" />
    <add key="RedisPassword" value=""/>
    <add key="RedisUrl" value="127.0.0.1"/>
    <add key="RedisPort" value="6379"/>
    <add key="AWSRegion" value=""/>
    <add key="AWSAccessKey" value=""/>
    <add key="AWSSecretKey" value=""/>
    <!-- Bucket has to be created manually in AWS -->
    <add key="BucketName" value=""/>
    <!-- Table has to be created manually in AWS, must have Hash Key "UserId" and Range Key "GameId" (can be changed in AmazonDataAccess) -->
    <add key="TableName" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="false" doDynamicCompression="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
